/** OphInBiometry module styles */
/* line 1, ../sass/components/_selection.scss */
.iolDisplay {
  font-size: 18px;
  background-color: #ffff66;
  border-color: gray;
  border-width: 1px;
  border-style: solid;
  width: 60px;
  padding-left: 10px;
}

/* line 17, ../sass/components/_event.scss */
.event {
  border-color: #aaaaaa;
}
/* line 19, ../sass/components/_event.scss */
.event .event-content {
  background-image: url('../img/watermark.png?1394621161');
}
/* line 22, ../sass/components/_event.scss */
.event .event-title {
  background-image: url('../img/medium.png?1394621161');
}
